ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid rebeccapurple;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 448px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 720px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 40px;
  position: absolute;
  width: 100%;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
  }
}
.header__items {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }
}
@media screen and (min-width: 1200px) {
  .header__items {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__elem:first-child {
    order: 1;
  }
}
.header__link {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}
.header__link:hover, .header__link:focus {
  color: #FF6C00;
}
.header__contact {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 720px) {
  .header__box {
    display: none;
  }
}
.header__logo {
  width: 68.93px;
  height: 55.46px;
}
.header__burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.button {
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid #FF6C00;
}

.hero {
  padding-top: 208px;
  padding-bottom: 209px;
  background-image: url(../images/hero-backgr.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 448px 100%;
}
@media screen and (min-width: 720px) {
  .hero {
    padding-top: 272px;
    padding-bottom: 40px;
    background-size: 720px 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-size: 1200px 100%;
  }
}
.hero__text {
  color: rgba(157, 164, 189, 0.6);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero__text::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  display: block;
}
.hero__title {
  color: #FFF;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    letter-spacing: 3.6px;
  }
}
.hero__explanation {
  width: 336px;
  color: #9DA4BD;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 720px) {
  .hero__explanation {
    width: 360px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.36px;
  }
}
.hero__btn {
  display: none;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 720px) {
  .hero__btn {
    display: block;
  }
}
.hero__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__list {
  display: none;
}
@media screen and (min-width: 720px) {
  .hero__list {
    display: flex;
    gap: 54px;
    margin-top: 173px;
    text-align: end;
    justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .hero__list {
    margin-top: 144px;
  }
}
.hero__link {
  color: rgba(157, 164, 189, 0.6);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__link::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  margin-top: 8px;
}

.best {
  padding: 120px 120px;
}
@media screen and (min-width: 720px) {
  .best {
    padding: 100px 100px;
  }
}
.best__foto {
  width: 270px;
  height: 445px;
  flex-shrink: 0;
}
@media screen and (min-width: 448px) {
  .best__foto {
    width: 330px;
    height: 235px;
    flex-shrink: 0;
  }
}
.best__item :nth-child(1) {
  color: #303030;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.best__title {
  color: #303030;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.4px;
}
.best__item :nth-child(3) {
  width: 470px;
  flex-shrink: 0;
  color: #555;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.36px;
}
.best__item :nth-child(4) {
  width: 470px;
  color: #555;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.28px;
}
.best__button {
  color: #303030;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.best__item {
  border-radius: 25px;
  border: 1px solid #FF6C00;
  width: 160px;
  height: 40px;
  flex-shrink: 0;
}/*# sourceMappingURL=main.css.map */