.best{

padding: 120px 120px ;


    @media screen and  (min-width:720px) {
        padding: 100px 100px;
    }



&__foto{
    width: 270px;
height: 445px;
flex-shrink: 0;
 @media screen and  (min-width:448px) {
     width: 330px;
height: 235px;
flex-shrink: 0;
    }
}


&__item{
color: #303030;
margin-right: 30px;
font-family: "Open Sans";
font-size: 11px;
font-style: normal;
line-height: normal;
text-transform: uppercase;
 @media screen and (min-width:448px) {
    display: none;
    }

    @media screen and  (min-width:720px) {
      
    }
}
&__foto{
width: 900px;
height: 445px;
flex-shrink: 0;


   
}
&__title{
   width: 470px;
color: $big-text;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.4px;
}

&__button{
color:$big-text;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.08px;
text-transform: uppercase;
border: none;
position: relative;
top: 10px;
left: 15px;
background-color:$fon-color;
}

&__list{
    display: flex;

}

// &__items::before{
// content: "";
// display: block;
// background-color: $big-text;
// width: 1px;
// height: 60px;

// }
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
&__items{
    margin-top: 7px;
    margin-bottom: 20px;
    color:$big-text;
font-family: "Open Sans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
justify-content: end;
}
&__want{
     margin-bottom: 20px;
    color: $text-color;
width: 470px;
height: 60px;
flex-shrink: 0;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height:1.6;
letter-spacing: 0.36px;
justify-content: end;
}
&__we{
    color: $text-color;
 margin-bottom: 32px;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.8;
letter-spacing: 0.28px;
}
&__dicplei{
    display: flex;
}
&__border{
    border-radius: 25px;
border: 1px solid #FF6C00;
width: 160px;
height: 40px;
flex-shrink: 0;
position: absolute;
}
}