.services{
//    background-image: url('../images/tel/tel-begraynd@1x.webp');
//    background-repeat: no-repeat;
//    width: 100%;
background-color: #171A24;
     @media screen and (min-width: 720px) {

        padding-bottom: 84px;
       
    }

    @media screen and (min-width: 1200px) {
     
        padding-bottom: 129px;
    }
    &____subtitle{
        color: $service-title;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.42; 
letter-spacing: 0.28px;
    }
    &__description{
margin-bottom: 20px;
color: rgba(157, 164, 189, 0.60);
font-family: "Open Sans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 1.36;
text-transform: uppercase;
    }
    &__title{
margin-bottom: 44px;
color:$fon-color;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.75;
letter-spacing: 2px;
    }
    &__list{
        // margin-bottom: 30px;
        // margin-top: 30px;
        
        color:$service-title;

font-style: normal;
font-weight: 700;
line-height: 1.42;
letter-spacing: 2px;
background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
padding: 30px 20px 30px 40px;
  @media screen and (min-width: 720px) {
line-height: 1.66;
       font-size: 18px;
       
    }}
&__price{
    color: $service-title;

text-align: right;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.42; 
letter-spacing: 0.28px;
@media screen and (min-width: 720px) {
line-height: 1.66;
       font-size: 18px;
       
    }
}
    
    &__item{
display: flex;
margin-bottom: 20px;
    }
    &__button{
   color: $fon-color;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 1.3;
letter-spacing: 1.08px;
text-transform: uppercase;
    }
    &__bt{
        width: 160px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;

    border-radius: 25px;
border: 1px solid #FF6C00;
    }

}